@model RoleModel

@{
    ViewData["Title"] = "Create new role";
    Layout = "_Layout";
}

<div class="row justify-content-center" >
    <div class="col-md-4">
        <section>
            <form asp-action="Create" method="post">
                <h2>@ViewData["Title"]</h2>
                <hr/>
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="@Model.Name" class="form-control" aria-required="true" placeholder="name"/>
                    <label asp-for="@Model.Name" class="form-label">Name</label>
                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Create</button>
                </div>
            </form>
        </section>
    </div>
</div>