@{
    ViewData["Title"] = "Home ";
}
<link rel="stylesheet" href="~/css/IndexHome.css" asp-append-version="true" />


<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="text-center">
    <h1  class="display-4">VioletChat</h1>
    <style>
        body
        {
       
            background-image: url("/images/3i3.PNG");
        }
</style>
   
</div>